.pagDiv {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.pagDiv button {
    background-color: black;
    color: white;
}

.wrapDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.contentDiv {
    width: 700px;
    height: 500px;
    border-radius: 25px;
    background-color: white;
    padding: 70px 25px 0px 25px;
}